body{

  font-size: none;
}

.caja
{

  background-color: #D82220;
  color:white;  
  font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.caja:hover
{
  
   opacity: 0.8;
   
}
.caja:link   
{   
 text-decoration:none;   
}
.boxpr
{

    margin: 5px;
    display: inline-block;
    background-color: white;
    color: #d82220;
    padding-top: 20px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    width: 340px;
    height: 490px;
    font-size: 17px;
    border: solid 1px #cfd1d2;

}
.descripcion
{
  width: 600px;
  height:400px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 10px;
  overflow: auto;
}

.imagpr
{
   width: 180px;
    height: 240px;
}

.hidde
{
  visibility: hidden;
}
.pag
{
    text-align: center;
    margin-top: 30px;
    height: 30px;
    width: 30px;
    color: #d82220;
    display: inline-block;
    border: solid 1px #cfd1d2;
    padding-top: 3px;
    border-radius: 4px;
}
.activo
{
   background-color: #D82220;
    text-align: center;
    margin-top: 30px;
    height: 30px;
    width: 30px;
    color: white;
    display: inline-block;
    border: solid 1px #cfd1d2;
    padding-top: 3px;
    border-radius: 4px;
}

.pag:hover
{
    background-color: #D82220;
   color:white;
   cursor: pointer;
}

.linkcart:link {
  color: #d82220;
  text-decoration:none;
}

/* visited link */
.linkcart:visited {
    color: #d82220;
  text-decoration:none;
}

div.boxpr:hover > .linkcart
{
  background-color: #EC3735;
  color: white;
   cursor: pointer;
   
}

.boxpr:hover
{
  background-color: #EC3735;
  color: white;
   cursor: pointer;
   
}
/* mouse over link */
.linkcart:hover {
    color: white;
    text-decoration:none;
}

/* selected link */
.linkcart:active {
    color: #d82220;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  color:black;
  height: 100%;

}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: white;
    width: 30%;
    text-align: center;
    position: relative;
    transition: all 5s ease-in-out;
    color: #d82220;
    font-size: 18px;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #d82220;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
#prodinfo
{
    padding-left: 70px;
    padding-right: 70px;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    overflow: auto;
}

.opcion{
background-color: #d82220;
font-family: 'Titillium Web', sans-serif;
}

#imginfo
{
    width: 380px;
    height: 440px;
    margin-left: 10px;
}

#contenidoCarrito
{
  overflow: auto;
}
.bfiltrar
{
  background-color: #D82220;
  color: white;
  border-radius: 3px;
  border: none;
  width: 70px;
  height: 30px;
}

.bfiltrar:hover
{
 opacity: 0.9;
}

.linkinfo
{
    color: #ffffff;
    text-decoration: none;
}
.linkinfo:hover {
    color: white;
    text-decoration:none;
}
.linkinfo:active {
    color: white;
    text-decoration:none;
}

.bot
{
    background-color: #9e0b09;
    text-align: center;
    width: auto;
    height: 34px;
    padding-top: 4px;
    border: none;
    border-radius: 4px;
    color: white;
    display: inline-block;
}

.bot:hover
{
  background-color: #8a0b09;
}

.filtro
{
    width: 130px;
    margin-right: 10px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.carro {
  font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

.carro th,.carro td {
text-align: left;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 17px;

}

.carro tr:nth-child(even)
{
  background-color: #f2f2f2
}

.carro th {
    background-color: #b90f0d;
    /*text-align: center;*/
    color: white;
}

.inf {
  font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

.inf th,.inf td {
text-align: left;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 17px;

}

.inf tr:nth-child(even){background-color: #f2f2f2}

.inf th {
    background-color: #b90f0d;
    text-align: center;
    color: white;
}

