﻿@import url('fonts/stylesheet.css');

html,
body{
	/*height: 100%;*/
}
body{
	border-top: 4px solid #DA251E;
	font-family: 'sofia_prolight', Arial, Helvetica, sans-serif;
}
.wrapper{
	margin: 0 auto;
	max-width: 960px;
}
.wrapper-container{
	margin: 0 auto;
	max-width: 960px;
}
#page_content h1,
.h2,
.h3,
.h4{
	color: #000; /*#DB261F;*/
}
a:hover,
a:focus{
	text-decoration: none;
}

.header{
	
}

.top-menu{
	padding: 8px 0;
}
.top-menu .currency{
	margin-right: 30px;
}
.top-menu .basket{
	margin-right: 10px;
}
.top-menu .top-menu-toggle{
	color: #000000;
}
.top-menu .top-menu-toggle:hover,
.top-menu .top-menu-toggle:focus{
	text-decoration: none;
}
.top-menu .top-menu-toggle img{

}
.top-menu .top-menu-toggle .basket-count{

}
.top-menu .dropdown-basket-detail{
	font-size: 14px;
	max-width: 220px;
	min-width: 220px;
	padding: 10px;
}
.top-menu .dropdown-basket-count{

}
.top-menu .dropdown-basket-count .basket-count{
	font-size: 30px;
	margin: 0 10px 0 0;
}
.top-menu .dropdown-basket-total{
	font-size: 14px;
	/*font-weight: bold;*/
	margin-bottom: 10px;
}
.top-menu .dropdown-basket-total span{
	color: #DA251E;
}
.top-menu .dropdown-basket-total .total-description{
	color: #000000;
}
.top-menu .dropdown-basket-products{
	margin-bottom: 10px;
}
.top-menu .dropdown-basket-products .dropdown-basket-product-image{
	max-width: 70px;
	text-align: center;
	width: 70px;
}
.top-menu .dropdown-basket-products .dropdown-basket-product-description{
	line-height: 1.25;
}
.top-menu .dropdown-basket-products img{

}
.top-menu .dropdown-basket-link-buy{
	background: #C1DFE7;
	color: #000000;
	display: block;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 5px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
}
.top-menu .dropdown-basket-link-detail{
	background: #8F9091;
	color: #FFFFFF;
	display: block;
	line-height: 1;
	padding: 7px;
	text-align: center;
	text-decoration: none;
}


.header .logo{
	margin: 0 auto 10px;
	max-width: 195px;
}

.header .contact{
	background:url(images/bg-contact.jpg) no-repeat right bottom;
	padding-left: 10px;
	width: 310px;
}
.header .contact h4{
	font-weight: normal;
}
.header .contact span{
	display: block;
    line-height: 1;
    padding: 0 0 5px;
}
.header .contact .phone{
	color: #2074AD;
    font-size: 20px;
}
.header .contact .lada{
	font-size: 12px;
    font-weight: bold;
}




.header-menu{
	font-family: Arial, Helvetica, sans-serif;
}
.header-menu .navbar-inner{
	/*background: #E0E0E0;
	border: none;
	border-bottom: 3px solid #000000;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;*/
}
.header-menu .navbar-inverse .brand, 
.header-menu .navbar-inverse .nav > li > a{
	color: #FFFFFF;
}

.header-menu .navbar .nav > .active > a, 
.header-menu .navbar .nav > .active > a:hover, 
.header-menu .navbar .nav > .active > a:focus{
	/*background: #000000;
	color: #FFFFFF;
	text-shadow: none;*/
	background: #DB261F;
    color: #FFFFFF;
    text-shadow: none;
}


.carousel-news{
	margin: 0;	
}
.news-banner{
	box-shadow: 0 0 10px #777777;
	-moz-box-shadow: 0 0 10px #777777;
	-webkit-box-shadow: 0 0 10px #777777;
}
.news-banner .download-guys{
	
}

.carousel-trademarks{
	background: #C1DFE7;
	margin-top: 10px;
    padding: 3px 37px;
	box-shadow: 0 0 10px #999999;
	-moz-box-shadow: 0 0 10px #999999;
	-webkit-box-shadow: 0 0 10px #999999;
}
.carousel-trademarks .nbs-flexisel-item img{
	width: auto;
    max-width: 100%;
    max-height: none;
}
.carousel-trademarks .nbs-flexisel-inner{
	background: none;
	border: none;
	border-radius: 0;
	float: none;
}
.carousel-trademarks .nbs-flexisel-container{
	background: #FFFFFF;
}
.carousel-trademarks .nbs-flexisel-nav-left{
	left: -27px;
}
.carousel-trademarks .nbs-flexisel-nav-right{
	right: -30px;
}

.our-products{
	background: url(images/bg-our-products.png) repeat-x 0 0 #FFFFFF;
    padding: 5px 0;
}
.our-products .navbar{
	margin: 0;
}
.our-products .navbar .brand{
	font-size: 19px;
}



.recommendations{
	
}
.recommendations .recommendation{
	
}



.grid{
	border: 1px solid #E2E2E2;
	font-family: 'Conv_helveticaneue-medium';
    margin-bottom: 10px;
	/*min-height: 235px;*/
	min-height: 200px;
}
.grid-product{
	padding: 10px;
}
.carousel-other-categories .grid-product{
	min-height: 260px;
}
.grid-product-image{
	margin: 0 auto 10px;
	max-width: 150px;
}
.grid-product-image a{
	
}
.grid-product-image a img{
	
}
.grid-product-description{
	font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.grid-product-description span{
	display: block;
}
.grid-product-name{
	font-size:15px;
}
.grid-product-model{
	
}
.grid-product-price{
	color: #F7060D;
    font-size: 15px;
}





.carousel-other-products{

}
.carousel-other-products .nbs-flexisel-item img{
	width: auto;
    max-width: 100%;
    max-height: none;
}
.carousel-other-products .nbs-flexisel-item a{
	border-right: 1px solid #E2E2E2;
    display: block;
}
.carousel-other-products .nbs-flexisel-inner{
	background: none;
	border: none;
	border-radius: 0;
	float: none;
}
.carousel-other-products .nbs-flexisel-container{
	background: #FFFFFF;
	border: 1px solid #E2E2E2;
}




.carousel-other-categories{

}
.carousel-other-categories .nbs-flexisel-item img{
	width: auto;
	max-width: 100%;
	max-height: none;
}
.carousel-other-categories .nbs-flexisel-item a{

}
.carousel-other-categories .nbs-flexisel-inner{
	background: none;
	border: none;
	border-radius: 0;
	float: none;
}
.carousel-other-categories .nbs-flexisel-container{
	background: #FFFFFF;
	border: 1px solid #E2E2E2;
}
.carousel-other-categories .grid{
	margin-bottom: 0;
	height: 50px;
}
.carousel-other-categories .grid-product-description{
	padding: 0 10px;
}
div.grid_height_carousel{
	height: 50px;
}















.slider-gallery{
	margin: 0 0 10px;
	position: relative;
}

.slider-gallery .nivo-directionNav a{
	background: none;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 70px;
    opacity: 1;
    text-align: center;
    text-indent: 0;
}
.carousel-gallery{
	margin-top: 20px;
    padding: 3px 20px;
	/*box-shadow: 0 0 10px #999999;
	-moz-box-shadow: 0 0 10px #999999;
	-webkit-box-shadow: 0 0 10px #999999;*/
}
.slider-gallery-wrapper .nivo-controlNav{
	display: none;
}
.carousel-gallery .nbs-flexisel-item a{
	text-align: center;
}
.carousel-gallery .nbs-flexisel-item img{
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
    max-width: 100%;
    max-height: none;
}
.carousel-gallery .nbs-flexisel-inner{
	background: none;
	border: none;
	border-radius: 0;
	float: none;
}
.carousel-gallery .nbs-flexisel-container{
	background: #FFFFFF;
}
.carousel-gallery .nbs-flexisel-nav-left{
	left: -21px;
}
.carousel-gallery .nbs-flexisel-nav-right{
	right: -21px;
}

.product-thumbnail{
	-webkit-box-shadow: 0 1px 5px 0 #4A4A4A;
	-moz-box-shadow: 0 1px 5px 0 #4A4A4A;
	box-shadow: 0 1px 5px 0 #4A4A4A;
	margin-bottom: 10px;
}
.product-thumbnail img{
	border: medium none;
    max-width: none;
    padding: 0;
    width: 100%;
}

.product-info{

}
.product-info .trademark{

}
.product-info .name{
	font-size: 44px;
    line-height: 1.1;
    margin-bottom: 25px;
}
.product-info .model{
    font-size: 25px;
}
.product-info .price{
	color: #DA251E;
	display: inline-block;
    /*display: block;*/
    font-size: /*30px*/ 25px;
    margin: 10px 0 20px;
}
.product-info .add-to-cart{
	background:url(images/add-to-cart.png) no-repeat left top;

	border: none;
	margin-left: 10px;
	max-width: 185px;
	height: 28px;
	width: 100%;
}
.product-info .add-to-cart:hover{
	background-position:top right;
}
.product-info .how-many{
	margin: 0 2px;
	width: 55px;
}






.products-selects{
		
}
.products-selects .dropdown-toggle{
	color: #000000;
}
.ribbon-trademarks{
	border: 3px solid #C1DFE7;
}




.cart-detail-title{
	background: #C1DFE7;
}
.cart-detail-title h3{
	color: #034970;
    font-weight: normal;
    padding: 0 10px;
}
.cart-detail-total{
	font-size: 18px;
	margin-bottom: 20px;
}
.table-cart-detail-list th, 
.table-cart-detail-list td{
	text-align: center;
    vertical-align: middle;
}
.cart-detail-buttons{
	background: #C1DFE7;
}
.cart-detail-buttons a{
	color: #034970;
    line-height: 1;
    padding: 12px 9px;
}
.cart-detail-buttons a:hover,
.cart-detail-buttons a:focus{
	background: #034970;
	color: #FFFFFF;
	text-decoration: none;
}

.footer{
	font-family: 'Conv_helveticaneue-medium';	
}
.footer-menu{
	margin: 10px 0 0;
}
.footer-menu a{
	color: #000000;
}
.footer-menu .nav li.follow-us{
	border-radius: 5px 5px 5px 5px;
    line-height: 14px;
    padding: 6px 12px 0;
}

.footer-menu .nav li a{
	
}
.footer-menu .nav li a.facebook{
	display: inline;
	margin: 0 5px 0 10px;
    padding: 0;
}
.footer-menu .nav li a.twitter{
	display: inline;
    padding: 0;
}
.footer-address{
	border-bottom: 1px solid #BDBDBD;
    font-size: 13px;
    font-weight: bold;
    margin: 0 40px 10px;
    padding-bottom: 10px;
    /*text-align: center;*/
}
.footer-others-address{
	margin: 0 40px;
}
.footer-other-address{
	color: #333333;/*#AAABAD;*/
    font-size: 11px;
    line-height: normal;
}
.footer-other-address span{
	display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 5px;
}






.carousel-control{
	font-family: Arial, Helvetica, sans-serif;
}
.container, 
.navbar-static-top .container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container{
	/*width: 960px;*/
}

.nbs-flexisel-item{
	line-height: normal;	
}
.nbs-flexisel-nav-left, 
.nbs-flexisel-nav-right{
	background: none;
    color: #000000;
    font-size: 45px;
    font-weight: bold;
    height: 20px;
    line-height: 0.1;
    text-align: center;
}


/* Large desktop */
@media (min-width: 1200px) {  }
 
@media (min-width: 979px) {  
 	.header-menu .navbar-inner{
		/*padding: 0;*/
	}
	.our-products .navbar-inner{
		background: none;
		border: none;
		box-shadow: none;
		padding: 0;
	}
	.our-products .navbar .nav{
		float: none;
		margin: 0;
	}
	.our-products .navbar .nav > li{
		float: none;
	}
	
	.our-products .navbar .nav > li > a:hover,
	.our-products .navbar .nav > li > a:focus{
		background: #EEEEEE;
	}
	.our-products .navbar .nav > .active > a, 
	.our-products .navbar .nav > .active > a:hover, 
	.our-products .navbar .nav > .active > a:focus{
		background: #DB261F;
		color: #FFFFFF;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	}
	.our-products .navbar .nav > li > a{
		border-radius: 0;
		color: #000000;
		line-height: 1;
		padding: 1px 15px;
	}
	
	.footer-menu .navbar-inner{
		background: none;
		border: none;
		box-shadow: none;
		padding: 0;
	}
	.footer-menu .nav{
		float: none;
		margin: 0;
		text-align: center;
	}
	.footer-menu .nav li{
		display: inline-block;
		float: none;
		margin: 0 20px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  
	.wrapper-container{
		margin-left: -20px;
		margin-right: -20px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {  


}
.image_page {float:left;}
.center{
	text-align:center;
}
.banner-advertising{
	margin-bottom: 10px;
}
#paynow{
	color: #034970;
    display: inline;
    font-family: 'sofia_prolight',​Arial,​Helvetica,​sans-serif;
    text-decoration: none;
	padding: 12px 9px;
}
#paynow:hover{
	background-color:#034970;
	color:white;
}
label.error{
	background-color: red;
	color:white;
	padding: 5px;

}
